<aside class='profile-aside'>
	<a href='/src/pages/chats/chats.html' class='profile-aside__link'>
		<svg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'>
			<path d='M6 11L2 6L6 1' stroke='white' stroke-width='1.6' />
		</svg>
	</a>
</aside>
<main class='profile'>
	<div class='profile__avatar'>
		<img src='{{avatar}}' alt='avatar' />
	</div>
	<h2 class='profile__name'>{{name}}</h2>

	<div class='profile-info'>
		{{#each profileInfo}}
			<ul class='profile-info__item'>
				<li class='profile-info__label'>{{label}}</li>
				<li class='profile-info__value'>{{value}}</li>
			</ul>
		{{/each}}
	</div>

</main>