@use '../../styles/global.scss' as *;

$chats-aside-width: 310px;

.chats-aside {
	width: $chats-aside-width;
	height: 100vh;
	background-color: $color-background-surface;
	position: fixed;
	top: 0;
	left: 0;
	border-right: 1px solid $color-light-gray;
	overflow-y: auto;

	&__messages {
		display: flex;
		flex-direction: column;
		margin-top: 14px;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 8px;
		justify-content: end;
		text-decoration: none;
		color: $color-text-secondary;
		font-size: 12px;
		padding: 21px 10px 0;
	}

	&-search {
		position: relative;
		margin: 10px 10px 0;

		&__icon {
			position: absolute;
			left: 12px;
			top: 75%;
			transform: translateY(-75%);
			z-index: 1;
		}

		&__input {
			width: 100%;
			margin-top: 23px;
			background-color: $color-lightest-gray;
			border: none;
			outline: none;
			padding: 10px 10px 10px 35px;
			border-radius: 5px;
			font-size: 12px;
			color: $color-text-primary;
			text-align: left;

			&::placeholder {
				color: $color-text-secondary;
			}
		}
	}
}

.chat {
	&-message-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 12px 10px;
		transition: 0.2s all;
		cursor: pointer;
		position: relative;

		&:hover {
			background-color: rgba(228, 237, 253, 1);
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			width: 290px;
			height: 1px;
			background-color: $color-light-gray;
		}
	}

	&-message {
		display: flex;
		gap: 10px;

		&__time {
			&-text {
				font-size: 9px;
				color: $color-text-secondary;
			}
		}

		&__avatar {
			width: 47px;
			height: 47px;
			border-radius: 50%;
			background-color: $color-lightest-gray;
		}

		&__info {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		&__name {
			font-size: 13px;
			font-weight: 600;
			color: $color-text-primary;
		}

		&__description {
			width: 193px;
			font-size: 12px;
			color: $color-text-secondary;
		}
	}
}

.chats-main {
	margin-left: $chats-aside-width;
	padding: 10px 20px;
	height: 100vh;
	overflow-y: auto;

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 12px;
		color: $color-text-secondary;
	}
}
